<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dodaj użytkownika</title>
  <link rel="stylesheet" href="../../static/styles/style.css" th:href="@{/styles/style.css}" >
</head>

<body class="align">
<section>
  <div class="header" role="navigation"  style="background-color: #ffffff">
    <div class="conStart">
      <h3><a href="#" style="color:rgba(68, 92, 122)">Witaj w panelu administratora</a></h3>
    </div>
    <div class="conStartNav">
      <a th:href="@{/logout}" class="aLogout">Wyloguj się</a>
    </div>

  </div>
  <div class="navPanel">
    <a th:href="@{/administrator/dane-uzytkownika}" class="aPanel">Mój profil</a>
    <a th:href="@{/administrator/lista-uzytkownikow}" class="aPanel">Użytkownicy systemu</a>
    <a th:href="@{/administrator/utworz-uzytkownika}" class="aPanel" style="color:#f3f3f3; background-color:  rgba(68, 92, 122, 0.767);">Dodawanie użytkowników</a>
  </div>
  <div class="contentBox">
    <div style="width: 35%; float:left; ">
      <h3>Wybierz typ użytkownika</h3>

      <form action="" method="post" class="form">

        <div class="formAdmin">
          <a th:href="@{/administrator/utworz-uzytkownika/nowy-pracownik}" class="aAdmin">Utwórz konto PRACOWNIKA</a>
        </div>

        <div class="formAdmin">
          <a th:href="@{/administrator/utworz-uzytkownika/nowa-firma}" class="aAdmin"> Utwórz konto DLA FIRMY</a>
        </div>

        <div class="formAdmin">
          <a th:href="@{/administrator/utworz-uzytkownika/nowy-pracownik-agencji}" class="aAdmin" style="background-color: rgba(68, 92, 122, 0.571);
                        color: #ffffff;"> Utwórz konto PRACOWNIKA AGENCJI</a>
        </div>
      </form>
      <br><br><a th:href= "@{/administrator/home}" style="text-align:center; display:block">Powrót na stronę główną</a>

    </div>
    <div style="width: 55%; margin-left: 45%;">

      <form th:action="@{/administrator/nowy-pracownik-agencji}"  th:object="${agencyEmployeeRQ}" method="post" class="form">
        <h3>Wprowadź dane</h3>

        <div class="inputs">
          <p class = "registration">Adres e-mail *</p>
          <input type="email" th:field="*{mail}" required>
        </div>

        <div class="inputs">
          <p class = "registration">Hasło *</p>
          <input type="password" th:field="*{password}" required>
        </div>

        <div class="inputs">
          <p class = "registration" >Imie *</p>
          <input type="text" th:field="*{name}" autofocus required>
        </div>

        <div class="inputs">
          <p class = "registration">Nazwisko *</p>
          <input type="text" th:field="*{surname}" autofocus required>
        </div>

        <div class="inputs">
          <p class = "registration">Numer telefonu *</p>
          <input type="tel" th:field="*{phoneNumber}" autofocus required pattern="[+][0-9]{2}-[0-9]{3}-[0-9]{3}-[0-9]{3}" placeholder="+xx-xxx-xxx-xxx">
        </div>

        <div class="inputs">
          <p class = "registration">Adres zamieszkania</p>
          <input type="text" th:field="*{address}" autofocus>
        </div>

        <div class="inputs">
          <p class = "registration">PESEL *</p>
          <input type="text" th:field="*{pesel}" autofocus required pattern="[0-9]{11}">
        </div>

        <div class="inputs">
          <p class = "registration">Data urodzenia *</p>
          <input type="date" th:field="*{dateOfBirth}" autofocus required>
        </div>

        <div class="inputs">
          <input type="checkbox" autofocus required id="accept"  style="width:min-content; margin-right: 2%;">
          <label for ="accept">Zgoda na przetwarzanie danych pracownika agencji na potrzeby działania serwisu *</label>
        </div>

        <p class="registration">* pole wymagane</p>

        <div>
          <input type="submit" value="Utwórz" class="submit">
        </div>

        <div th:if="${existingUsername != null}" class="alert alert-danger notification" role="alert">
          <p th:text="${existingUsername}"></p><p> Podana nazwa maila jest zajeta</p>
        </div>
        <div>
          <span th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></span>
        </div>
      </form>

    </div>
  </div>
</section>

</body>

</html>