<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Użytkownicy systemu</title>
  <link rel="stylesheet" href="../../static/styles/style.css" th:href="@{/styles/style.css}" >
</head>

<body class="align">
<section>
  <div class="header" role="navigation"  style="background-color: #ffffff">
    <div class="conStart">
      <h3><a href="#" style="color:rgba(68, 92, 122)">Witaj w panelu administratora</a></h3>
    </div>
    <div class="conStartNav">
      <a th:href="@{/logout}" class="aLogout">Wyloguj się</a>
    </div>

  </div>
  <div class="navPanel">
    <a href="" class="aPanel">Mój profil</a>
    <a th:href="@{/administrator/lista-uzytkownikow}" class="aPanel" style="color:#f3f3f3; background-color:  rgba(68, 92, 122, 0.767);">Użytkownicy systemu</a>
    <a th:href="@{/administrator/utworz-uzytkownika}" class="aPanel">Dodawanie użytkowników</a>
  </div>
  <div class="contentBox">
    <h3>Lista użytkowników</h3>
    <table class="tableUsers">

      <thead>
      <tr>
        <th>Mail</th>
        <th>Hasło</th>
        <th>Rola</th>
        <th>Akcje</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user: ${users}">
        <div th:if = "${user.role.name() != 'ADMINISTRATOR'}">
          <td th:text="${user.mail}"></td>
          <td th:text="${user.password}"></td>
          <td th:text="${user.role}"></td>
          <td>
            <a  th:href="@{/administrator/lista-uzytkownikow/{id}(id=${user.idUzytkownika})}" class="aButton">Usuń</a>
          </td>
        </div>
      </tr>
      </tbody>
    </table>
    <br><br><a th:href= "@{/administrator/home}" style="text-align:center; display:block">Powrót na stronę główną</a>
  </div>
</section>

</body>

</html>