<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dodaj użytkownika</title>
    <link rel="stylesheet" href="../../static/styles/style.css" th:href="@{/styles/style.css}" >
</head>

<body class="align">
<section>
    <div class="header" role="navigation"  style="background-color: #ffffff">
        <div class="conStart">
            <h3><a href="#" style="color:rgba(68, 92, 122)">Witaj w panelu administratora</a></h3>
        </div>
        <div class="conStartNav">
            <a th:href="@{/logout}" class="aLogout">Wyloguj się</a>
        </div>

    </div>
    <div class="navPanel">
        <a th:href="@{/administrator/dane-uzytkownika}" class="aPanel">Mój profil</a>
        <a th:href="@{/administrator/lista-uzytkownikow}" class="aPanel">Użytkownicy systemu</a>
        <a th:href="@{/administrator/utworz-uzytkownika}" class="aPanel" style="color:#f3f3f3; background-color:  rgba(68, 92, 122, 0.767);">Dodawanie użytkowników</a>
    </div>
    <div class="contentBox">
        <div style="width: 35%; float:left; ">
            <h3>Wybierz typ użytkownika</h3>

            <form action="" method="post" class="form">

                <div class="formAdmin">
                    <a th:href="@{/administrator/utworz-uzytkownika/nowy-pracownik}" class="aAdmin">Utwórz konto PRACOWNIKA</a>
                </div>

                <div class="formAdmin">
                    <a th:href="@{/administrator/utworz-uzytkownika/nowa-firma}" class="aAdmin"> Utwórz konto DLA FIRMY</a>
                </div>

                <div class="formAdmin">
                    <a th:href="@{/administrator/utworz-uzytkownika/nowy-pracownik-agencji}" class="aAdmin"> Utwórz konto PRACOWNIKA AGENCJI</a>
                </div>
            </form>
            <br><br><a th:href= "@{/administrator/home}" style="text-align:center; display:block">Powrót na stronę główną</a>

        </div>
        <div style="width: 55%; margin-left: 45%;">

        </div>
    </div>
</section>

</body>
