<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Lista użytkowników</title>

  <link rel="stylesheet"
        type="text/css"
        href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
</head>

<body>

<div class="container">

  <h3>Lista użytkowników</h3>

  <table class="table table-bordered table-striped" id="employeeTable">

    <thead>
    <tr>
      <th>Mail</th>
      <th>Hasło</th>
      <th>Rola</th>
      <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
      <div th:if = "${user.role.name() != 'ADMINISTRATOR'}">
        <td th:text="${user.mail}" />
        <td th:text="${user.password}" />
        <td th:text="${user.role}" />
        <td>
          <a  th:href="@{/administrator/lista-uzytkownikow/{id}(id=${user.idUzytkownika})}" class="btn btn-danger ml-2">Usun</a>
        </td>
      </div>
    </tr>
    </tbody>
  </table>
  <a th:href= "@{/administrator/home}">Powrót na stronę główną</a></p>
</div>
</body>

</html>