<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <title>Informacje o pracodawcy</title>
</head>
<body>

</body>
</html>


<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Twoje dane</title>
  <link rel="stylesheet" href="../../static/styles/style.css" th:href="@{/styles/style.css}" >
</head>

<body class="align">
<section>
  <div class="header" role="navigation"  style="background-color: #ffffff">
    <div class="conStart">
      <h3><a href="#" style="color:rgba(68, 92, 122)">Witaj w swoim panelu</a></h3>
    </div>
    <div class="conStartNav">
      <a th:href="@{/logout}" class="aLogout">Wyloguj się</a>
    </div>

  </div>
  <div class="navPanel">
    <div sec:authorize="hasRole('PRACODAWCA')"><a th:href="@{/pracodawca/dodaj-zlecenie-form}" class="aPanel">Dodaj zlecenie</a></div>
    <div sec:authorize="hasAnyRole('PRACODAWCA','PRACOWNIK')"><a th:href="@{/dodaj-dokument-form}" class="aPanel">Dodaj dokument</a></div>
    <div sec:authorize="hasRole('PRACODAWCA')"><a th:href="@{/pracodawca/lista-dokumentow}" class="aPanel">Lista dokumentów</a></div>
    <div sec:authorize="hasRole('PRACOWNIK')"><a th:href="@{/pracownik/lista-dokumentow}" class="aPanel">Lista dokumentów</a></div>
    <div sec:authorize="hasRole('PRACODAWCA')"><a th:href="@{/pracodawca/dane-uzytkownika}" class="aPanel"  style="color:#f3f3f3; background-color:  rgba(68, 92, 122, 0.767);">Mój profil</a></div>
    <div sec:authorize="hasRole('PRACOWNIK')"><a th:href="@{/pracownik/dane-uzytkownika}" class="aPanel">Mój profil</a></div>
    <div sec:authorize="hasRole('PRACOWNIKAGENCJI')"><a th:href="@{/pracownik-agencji/dane-uzytkownika}" class="aPanel">Mój profil</a></div>
    <div sec:authorize="hasRole('PRACODAWCA')"><a th:href="@{/pracodawca/lista-zlecen}" class="aPanel">Lista zleceń</a></div>
    <div sec:authorize="hasRole('PRACODAWCA')"><a th:href="@{/pracodawca/lista-pracownikow}" class="aPanel">Lista wszystkich pracowników</a></div>
    <div sec:authorize="hasRole('PRACODAWCA')"><a th:href="@{/pracodawca/moja-lista-pracownikow}" class="aPanel">Lista zatrudnionych pracowników</a></div>
    <div sec:authorize="hasRole('PRACOWNIK')"><a th:href="@{/pracownik/lista-zlecen}" class="aPanel">Lista zleceń</a></div>
    <div sec:authorize="hasRole('PRACOWNIK')"><a th:href="@{/pracownik/moja-lista-zlecen}" class="aPanel">Moje zlecenia</a></div>
  </div>
  <div class="contentBox">

    <h3 th:text="'Firma: ' + ${employer.companyName} " ></h3>
    <div th:object="${employer}" >
      <p>Adres e-mail: <span th:text="*{mail}"></span></p>
      <p>Nazwa firmy: <span th:text="*{companyName}" ></span></p>
      <p>Rok zalożenia: <span th:text="*{foundationYear}" ></span></p>
      <p>Adres siedziby: <span th:text="*{address}" ></span></p>
      <p>NIP: <span th:text="*{NIP}" ></span></p>
      <p>Numer telefonu: <span th:text="*{phoneNumber}" ></span></p>
    </div>

    <div>
      <br>
      <h3 style="font-size: medium">Zlecenia tej firmy</h3>
      <table class="tableList" id="employeeTable">

        <thead>
        <tr>
          <th>Data utworzenia</th>
          <th>Data wykonania</th>
          <th>Miejsce wykonania</th>
          <th>Charakter pracy</th>
          <th>Godziny pracy</th>
          <th>Stawka godzinowa (zł)</th>
          <th>Ilość miejsc</th>
          <th>Liczba aktualnie dostępnych miejsc</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order: ${orders}" th:if="${currDate} < ${order.executionDate}"> <!--sprawdzenie czy data wykonania zlecenia nie jest w przeszłości-->
          <td th:text="${order.availabilityDate}" />
          <td th:text="${order.executionDate}" />
          <td th:text="${order.performancePlace}" />
          <td th:text="${order.workNature}" />
          <td th:text="${order.workingHours}" />
          <td th:text="${order.hourlyRate}" />
          <td th:text="${order.vacanciesNumber}" />
          <td th:text="${order.getVacanciesNumber() - order.getEmployees().size()}" />
        </tr>
        </tbody>
      </table>
    </div>

    <br><a th:href= "@{/pracownik/lista-zlecen}" style="text-align:center; display:block">Powrót na stronę zleceń</a>
  </div>
</section>

</body>

</html>