<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Historia zleceń</title>
  <link rel="stylesheet" href="../../static/styles/style.css" th:href="@{/styles/style.css}" >
</head>

<body class="align">
<section>
  <div class="header" role="navigation"  style="background-color: #ffffff">
    <div class="conStart">
      <h3><a href="#" style="color:rgba(68, 92, 122)">Witaj w swoim panelu</a></h3>
    </div>
    <div class="conStartNav">
      <a th:href="@{/logout}" class="aLogout">Wyloguj się</a>
    </div>

  </div>
  <div class="navPanel">
    <div sec:authorize="hasRole('PRACODAWCA')"><a th:href="@{/pracodawca/dane-uzytkownika}" class="aPanel">Mój profil</a></div>
    <div sec:authorize="hasRole('PRACODAWCA')"><a th:href="@{/pracodawca/lista-zlecen}" class="aPanel" style="color:#f3f3f3; background-color:  rgba(68, 92, 122, 0.767);">Lista zleceń</a></div>
    <div sec:authorize="hasRole('PRACODAWCA')"><a th:href="@{/pracodawca/dodaj-zlecenie-form}" class="aPanel">Dodaj zlecenie</a></div>
    <div sec:authorize="hasRole('PRACODAWCA')"><a th:href="@{/pracodawca/lista-pracownikow}" class="aPanel">Lista wszystkich pracowników</a></div>
    <div sec:authorize="hasRole('PRACODAWCA')"><a th:href="@{/pracodawca/moja-lista-pracownikow}" class="aPanel">Lista zatrudnionych pracowników</a></div>
    <div sec:authorize="hasRole('PRACODAWCA')"><a th:href="@{/pracodawca/moje-biezace-koszty}" class="aPanel">Bieżące koszty</a></div>
    <div sec:authorize="hasRole('PRACODAWCA')"><a th:href="@{/pracodawca/lista-dokumentow}" class="aPanel">Lista dokumentów</a></div>
    <div sec:authorize="hasAnyRole('PRACODAWCA','PRACOWNIK')"><a th:href="@{/dodaj-dokument-form}" class="aPanel">Dodaj dokument</a></div>
  </div>
  <div class="contentBox">

    <h3>Historia wystawionych zleceń</h3>
    <table class="tableList" id="histEmployeeTable">

      <thead>
      <tr>
        <th>Data utworzenia</th>
        <th>Data wykonania</th>
        <th>Miejsce wykonania</th>
        <th>Charakter pracy</th>
        <th>Godziny pracy</th>
        <th>Stawka godzinowa (zł)</th>
        <th>Ilość miejsc</th>
        <th>Liczba aktualnie dostępnych miejsc</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="order: ${orders}"  th:if="${currDate} >= ${order.executionDate}">
        <td th:text="${order.availabilityDate}" />
        <td th:text="${order.executionDate}" />
        <td th:text="${order.performancePlace}" />
        <td th:text="${order.workNature}" />
        <td th:text="${order.workingHours}" />
        <td th:text="${order.hourlyRate}" />
        <td th:text="${order.vacanciesNumber}" />
        <td th:text="${order.getVacanciesNumber() - order.getEmployees().size()}" />
      </tr>
      </tbody>
    </table>
    <br><a th:href="@{/pracodawca/lista-zlecen}" style="text-align:center; display:block">Powrót do listy zleceń</a>
  </div>
</section>

</body>

</html>