<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nowy dokument</title>
</head>


<body>
<div align="center">
    <h1>Nowy dokument</h1>
    <form sec:authorize="hasRole('PRACODAWCA')" th:action="@{/pracodawca/dodaj-dokument}" method="post" th:object="${documentRQ}">
        <label>Typ dokumentu(tytuł):</label>
        <input type="text" th:field="*{documentType}" /><br/>

        <label>Treść:</label>
        <textarea rows="5" cols="25" th:field="*{content}"></textarea>
        <br/>
        <button type="submit">Dodaj</button>

        <div>
        <a sec:authorize="hasRole('PRACODAWCA')" th:href= "@{/pracodawca/home}">Powrót na stronę główną</a>
        </div>

        <div>
            <span th:if="${#fields.hasErrors('documentType')}" th:errors="*{documentType}"></span>
        </div>
        <div>
            <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
        </div>
    </form>

    <form sec:authorize="hasRole('PRACOWNIK')" th:action="@{/pracownik/dodaj-dokument}" method="post" th:object="${documentRQ}">
        <label>Typ dokumentu(tytuł):</label>
        <input type="text" th:field="*{documentType}" /><br/>

        <label>Treść:</label>
        <textarea rows="5" cols="25" th:field="*{content}"></textarea>
        <br/>
        <button type="submit">Dodaj</button>

        <div>
            <a sec:authorize="hasRole('PRACOWNIK')" th:href= "@{/pracownik/home}">Powrót na stronę główną</a>
        </div>

        <div>
            <span th:if="${#fields.hasErrors('documentType')}" th:errors="*{documentType}"></span>
        </div>
        <div>
            <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
        </div>
    </form>

</div>
</body>
</html>