<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Nice to see you</h1>

<div sec:authorize="hasRole('PRACODAWCA')"><a th:href="@{/pracodawca/dodaj-zlecenie-form}">Dodaj zlecenie</a></div>
<div sec:authorize="hasAnyRole('PRACODAWCA','PRACOWNIK')"><a th:href="@{/dodaj-dokument-form}">Dodaj dokument</a></div>
<div sec:authorize="hasRole('PRACODAWCA')"><a th:href="@{/pracodawca/lista-dokumentow}">Lista dokumentów</a></div>
<div sec:authorize="hasRole('PRACOWNIK')"><a th:href="@{/pracownik/lista-dokumentow}">Lista dokumentów</a></div>
<div sec:authorize="hasRole('PRACODAWCA')"><a th:href="@{/pracodawca/dane-uzytkownika}">Mój profil</a></div>
<div sec:authorize="hasRole('PRACOWNIK')"><a th:href="@{/pracownik/dane-uzytkownika}">Mój profil</a></div>
<div sec:authorize="hasRole('PRACOWNIKAGENCJI')"><a th:href="@{/pracownikagencji/dane-uzytkownika}">Mój profil</a></div>
<div sec:authorize="hasRole('PRACODAWCA')"><a th:href="@{/pracodawca/lista-zlecen}">Lista zleceń</a></div>
<div sec:authorize="hasRole('PRACOWNIK')"><a th:href="@{/pracownik/lista-zlecen}">Lista zleceń</a></div>
<div></div>
<a th:href="@{/logout}">Wyloguj się</a></p>
</body>
</html>