* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: rgb(68, 92, 122);
  color: #bdceef;
  font: 300 1rem/1.5 Helvetica Neue, sans-serif;
  margin: 0;
  min-height: 100%;
}

.align {
  align-items: center;
  display: flex;
  flex-direction: row;

}

.align__item--start {
  align-self: flex-start;
}

.align__item--end {
  align-self: flex-end;
}

.site__logo {
  margin-bottom: 2rem;
}

input {
  border: 0;
  font: inherit;
}

input::placeholder {
  color: #7e8ba3;
}

.form__field {
  margin-bottom: 1rem;
}

.form input {
  outline: 0;
  padding: 0.5rem 1rem;
  width: 100%;

}

.form {
  text-align: left;

}

.grid {
  margin: 0 auto;
  max-width: 30rem;
  width: 100%;
}

h2 {
  font-size: 2.75rem;
  font-weight: 100;
  margin: 0 0 1rem;
  text-transform: uppercase;
}

h3 {
  font-size: x-large;
  text-transform: uppercase;
  margin: 0 0 1rem;
  font-weight: 100;
}

svg {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: #7e8ba3;
  text-decoration: none;
  scroll-behavior: smooth;
}

/*Logowanie/Rejestracja */

.register {
  box-shadow: 0 0 250px rgba(32, 44, 72, 0.951);
  text-align: center;
  padding: 4rem 2rem;
  border-radius: 25px;
}

.register input {
  border: 1px solid #5192a6;
  border-radius: 999px;
  background-color: transparent;
  text-align: center;
}

.register input {
  background-color: #fff;
}

.register input[type=submit] {
  background-image: linear-gradient(160deg, #41cdf8 0%, #3ce2e8e6 100%);
  color: #fff;
  width: 100%;
  margin-top: 1rem;
}

.register input[type=submit]:hover {
  background-image: linear-gradient(160deg, #88d5ed 0%, #65e2ede6 100%);
  color: #fff;
  width: 100%;
}

.register input[type=button] {
  background-image: linear-gradient(160deg, #41cdf8 0%, #3ce2e8e6 100%);
  color: #fff;
  width: 100%;
  margin-top: 1rem;
}

.register input[type=button]:hover {
  background-image: linear-gradient(160deg, #88d5ed 0%, #65e2ede6 100%);
  color: #fff;
  width: 100%;
}

/*Panel rejestracyjny - zmiany stylu */

.registration {
  text-align: left;
  margin-bottom: 0rem;
  margin-left: 5%;
}

.register input[type=checkbox] {
  margin-bottom: 0.5rem;
  width: min-content;
  margin-right: 2%;
}

.inputs input {
  text-align: left;
  float: left;
  margin-bottom: 0.5rem;
}

.register_a {
  appearance: button;
  display:block;
  border: 1px solid #5192a6;
  border-radius: 999px;
  background-color: transparent;
  text-align: center;
  background-image: linear-gradient(160deg, #41cdf8 0%, #3ce2e8e6 100%);
  color: #fff;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
}

.register_a:hover {
  background-image: linear-gradient(160deg, #88d5ed 0%, #65e2ede6 100%);
}

/* Strona główna */

section {
  color: rgb(23, 21, 21);
  min-width: 100%;
  min-height: 10rem;
  margin: 0;
  align-self: stretch;
  clear: both;
}

.header {
  background-color: #bdceef;
  min-width: 100%;
  height: 3.2rem;
  margin: 0;
  align-self: flex-start;
}

.footer {
  background-color: rgba(32, 44, 72, 0.951);
  min-width: 100%;
  max-height: max-content;
  min-height: fit-content;
  margin: 0;
  align-self: flex-start;
}

.start {
  background-image: url("../img/start.jpg");
  background-color: transparent;
  min-width: 100%;
  min-height: 50%;
  max-height: 60%;
  margin: 0;
  clear: both;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 70%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.con {
  background-color: #bdceef;
  display: inline-block;
  width: 20%;
  height: fit-content;
  position: relative;
  top: -75px;
  margin-left: 6%;
  padding: 2%;
  text-align: center;
  box-sizing: content-box;
  font-size: 1.2vmax;
  box-shadow: 0 0 50px #42454ba8;
}

.aStart {
  appearance: button;
  margin-right: 20px;
  background-color: #eef2fb;
  border-radius: 5%;
  border: none;
  cursor: pointer;
  overflow: hidden;
  padding: 0.4rem 0.8rem;
}

.aStart:hover {
  background-color: #ffffff;
  color: #aac1ef;
}

.conStart {
  display: inline-block;
  width: fit-content;
  clear: both;
  margin-left: 5%;
  vertical-align: middle;
  height: 3rem;
  padding-top: 1%;
}

.conStartNav {
  width: fit-content;
  float: right;
  clear: both;
  vertical-align: middle;
  padding-top: 0.5%;
  padding-right: 2%;
}

.footer {
  text-align: center;
  color: #7e8ba3;
}

.hello {
  width: fit-content;
  float: right;
  clear: both;
  margin-right: 15%;
}

.kontakt {
  width: 85%;
  height: 300px;
  margin-left: 6%;
  padding: 2%;
  background-color: #bdceef;
  scroll-behavior: smooth;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 0 50px #42454ba8;
}

.small {
  width: 33%;
  float: left;
}

/* Home-page userów */

.navPanel {
  width: 20%;
  float: left;
  min-height:1000px;
  background-color: #bdceef;
  padding: 1%;
}

.contentBox {
  width: 80%;
  margin-left: 20%;
  min-height: 1000px;
  background-color: #f3f3f3;
  padding: 5%;
}

.aPanel {
  appearance: button;
  display:block;
  width: 100%;
  height: 40px;
  padding-top: 5px;
  text-align: center;
  margin-bottom: 5px;
  text-decoration: none;
  background-color: #f3f3f3;
  font-size: 1vmax;
}

.aPanel:hover {
  color:#f3f3f3;
  background-color: rgba(68, 92, 122, 0.767);
}

.aLogout{
  appearance: button;
  display:block;
  width: 100%;
  height: 30px;
  padding: 2%;
  text-align: center;
  margin-bottom: 5px;
  margin-right: 20px;
  text-decoration: none;
  color: #f3f3f3;
  font-size: 1vmax;
  background-color: rgba(68, 92, 122, 0.767);
}

.aLogout:hover{
  background-color: rgba(68, 92, 122, 0.571);
}

/* Lista uzytkownikow */
table, tr, td, th{
  border: 1px solid rgba(68, 92, 122, 0.767);
  font-size: 1vmax;
  border-collapse: collapse;
  padding: 5px;
  background-color: #ffffff;
  width: 100%;
}

.aButton {
  appearance: button;
  display:block;
  width: 100%;
  height: 30px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}

.aButton:hover{
  color: #ec6666;
}

.aButton, detailsButton {
  appearance: button;
  display:block;
  width: 100%;
  height: 30px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}

.aButton:hover{
  color: #ec6666;
}

/* Dodawanie uzytkownikow */
.aAdmin {
  appearance: button;
  display:block;
  width: 100%;
  height: 40px;
  padding-top: 5px;
  text-align: center;
  margin-bottom: 5px;
  text-decoration: none;
  background-color: #ffffff;
  font-size: 1vmax;
  color: rgba(22, 22, 22, 0.849);
}

.aAdmin:hover {
  background-color: rgba(68, 92, 122, 0.571);
  color: #ffffff;
}

.submit{
  background-color: rgba(68, 92, 122, 0.571);
}

.submit:hover{
  background-color: #bdceef;
}

/* Dokumenty */
.documentsList {
  border: 1px solid rgba(68, 92, 122, 0.767);
  font-size: 1vmax;
  border-collapse: collapse;
  padding: 5px;
  background-color: #ffffff;
  width: 100%;
  text-align: center;
}

.detailsButton:hover{
  color: #bdceef;
}

/* Zlecenia */
.addOrder{
  width: 50%;
  padding-top: 5px;
  color: rgba(22, 22, 22, 0.849);
}