<!DOCTYPE html>
<html lang="pl-PL" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Twoje dane</title>
  <link rel="stylesheet" href="../../static/styles/style.css" th:href="@{/styles/style.css}" >
</head>

<body class="align">
<section>
  <div class="header" role="navigation"  style="background-color: #ffffff">
    <div class="conStart">
      <h3><a href="#" style="color:rgba(68, 92, 122)">Witaj w swoim panelu</a></h3>
    </div>
    <div class="conStartNav">
      <a th:href="@{/logout}" class="aLogout">Wyloguj się</a>
    </div>

  </div>
  <div class="navPanel">
    <div sec:authorize="hasRole('PRACOWNIKAGENCJI')"><a th:href="@{/pracownik-agencji/dane-uzytkownika}" class="aPanel" style="color:#f3f3f3; background-color:  rgba(68, 92, 122, 0.767);">Mój profil</a></div>
    <div sec:authorize="hasRole('PRACOWNIKAGENCJI')"><a th:href="@{/pracownik-agencji/lista-pracodawcow}" class="aPanel" >Lista pracodawców</a></div>
    <div sec:authorize="hasRole('PRACOWNIKAGENCJI')"><a th:href="@{/pracownik-agencji/lista-wynagrodzen}" class="aPanel">Lista wynagrodzeń</a></div>
  </div>
  <div class="contentBox">
    <h3>Twoje dane</h3>
    <div th:object="${agencyEmployee}" >
      <p><b>Adres e-mail: </b><span th:text="*{mail}"></span></p>
      <p><b>Imie: </b><span th:text="*{name}" ></span></p>
      <p><b>Nazwisko: </b><span th:text="*{surname}" ></span></p>
      <p><b>Numer telefonu: </b><span th:text="*{phoneNumber}" ></span></p>
      <p><b>Adres zamieszkania: </b><span th:text="*{address}" ></span></p>
      <p><b>PESEL: </b><span th:text="*{pesel}" ></span></p>
      <p><b>Data urodzenia: </b><span th:text="*{dateOfBirth}" ></span></p>
    </div>

    <p><b>Zaakceptowane zgody: </b><span>Zgoda na przetwarzanie twoich danych na potrzeby działania serwisu.</span></p>

    <a th:href= "@{/usun-konto}" class="aButton" style="text-align:left; display:block" id="deleteButton" onclick="return confirm('Czy jesteś pewien, że chcesz usunąć konto?');">Usuń konto</a>
    <br><a th:href= "@{/pracownik-agencji/home}" style="text-align:center; display:block">Powrót na stronę główną</a>
  </div>
</section>

</body>

</html>